{% extends 'base.html' %}

{% block title %}Список получателей{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="mb-4">Список получателей (Всего: {{ recipients|length }})</h1>

    <a href="{% url 'mailing:recipient_create' %}" class="btn btn-primary mb-3">  {# Используем namespace #}
      <i class="fas fa-plus"></i> Добавить получателя
    </a>

    {% if recipients %}
      <ul class="list-group">
        {% for recipient in recipients %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ recipient.full_name }} ({{ recipient.email }})
            <div>
              <a href="{% url 'mailing:recipient_update' recipient.pk %}" class="btn btn-warning btn-sm">  {# Используем namespace #}
                <i class="fas fa-edit"></i> Редактировать
              </a>
              <a href="{% url 'mailing:recipient_delete' recipient.pk %}" class="btn btn-danger btn-sm">  {# Используем namespace #}
                <i class="fas fa-trash-alt"></i> Удалить
              </a>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>В базе данных нет ни одного получателя.</p>
    {% endif %}
  </div>
{% endblock %}