{% load i18n %}
{% autoescape off %}
{% blocktranslate %}Вы получили это письмо, потому что запросили сброс пароля для своей учетной записи пользователя.{% endblocktranslate %}

{% translate "Пожалуйста, перейдите по следующей ссылке, чтобы установить новый пароль:" %}
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

{% translate "Ваше имя пользователя, на случай если вы забыли:" %} {{ user.get_username }}

{% translate "Если вы не запрашивали сброс пароля, проигнорируйте это письмо." %}

{% translate "Спасибо за использование нашего сайта!" %}

{% blocktranslate %}Команда {{ site_name }}{% endblocktranslate %}
{% endautoescape %}